<header class="header__mobile">
  <button type="button" class="header__close">{% render 'icon-close' %}</button>
  <nav class="mobile__nav">
    <ul class="mobile__ul">
      {%- for link in menu -%}
        <li class="mobile__li">
          <a href="{{ link.url }}" class="mobile__link">{{ link.title }}</a>
          {% if link.links != blank %}
            <button type="button" class="mobile--dropdown">{% render 'icon-caret' %}</button>
          {% endif %}
          {% if link.links != blank %}
            <ul class="mobile__ul mobile--child">
              {% for child_link in link.links %}
                <li class="mobile__li">
                  <a href="{{ child_link.url }}" class="mobile__link">{{ child_link.title }}</a>
                  {% if child_link.links != blank %}
                    <button type="button" class="mobile--dropdown">{% render 'icon-caret' %}</button>
                  {% endif %}
                  {% if child_link.links != blank %}
                    <ul class="mobile__ul mobile__grand--child">
                      {% for grand_child_link in link.links %}
                        <li class="mobile__li">
                          <a href="{{ grand_child_link.url }}" class="mobile__link">{{ grand_child_link.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
  <div class="mobile__account-wrapper">
    <a href="/account" class="mobile__account-link">{% render 'icon-account' %} Account</a>
  </div>
</header>