{%- if paginate.parts.size > 0 -%}
  <div class="pagination">
    <nav class="pagination__wrapper">
      <ul class="pagination__list">
        {%- if paginate.previous -%}
          <li>
            <a href="{{ paginate.previous.url }}" class="pagination__prev">{% render 'icon-caret' %}</a>
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          <li>
            {%- if part.is_link -%}
              <a href="{{ part.url }}"class="pagination__item pagination__link">{{ part.title }}</a>
            {%- else -%}
              <span class="pagination__item {% if part.title == paginate.current_page %}pagination__current{% endif %}">{{ part.title }}</span>
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a href="{{ paginate.next.url }}" class="pagination__next">{%- render 'icon-caret' -%}</a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}

<style>
  .pagination {}
  .pagination__wrapper {
    padding-top: 50px;
  }
  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .pagination__prev {
    width: 40px;
    height: 40px;
    border: 1px solid #0000008c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    transform: rotate(90deg);
  }
  .pagination__prev svg {
    height: 12px;
    width: 12px;
  }
  .pagination__item {
    width: 40px;
    height: 40px;
    border: 1px solid #0000008c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
  }
  .pagination__link {
    text-decoration: none;
  }
  .pagination__current {
    background: #0000008c;
    color: white;
  }
  .pagination__next {
    width: 40px;
    height: 40px;
    border: 1px solid #0000008c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    transform: rotate(-90deg);
  }
  .pagination__next svg {
    height: 12px;
    width: 12px;
  }
</style>