<div class="reset">
    <div class="reset__wrapper">
        {%- form 'reset_customer_password', class: 'reset__form', novalidate: 'novalidate' -%}
            {%- if form.posted_successfully? -%}
        <h2 class="main-contact__form--success">{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</h2>
      {%- endif -%}
      {%- if form.errors -%}
      <h2 class="main-contact__form--success">{% render 'icon-success' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
                {{ form.errors.messages[form] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
      <div class="field">
        <div class="field__group">
            <label for="contact-email" class="field__label">Enter password</label>
            <input
              id="contact-email"
              type="password"
              name="customer[password]"
              value=""
              class="field__input" />
        </div>
        <div class="field__group">
          <label for="contact-phone" class="field__label">Confirm password</label>
          <input
            id="contact-phone"
            type="password"
            name="customer[password_confirmation]"
            value=""
            class="field__input" />
        </div>
        <div class="field__group">
          <button type="submit" class="btn btn--primary btn--block">Submit</button>
        </div>
      </div>
        {%- endform -%}
    </div>
</div>

<style>
    .reset__form{
        max-width: 600px;
        margin: 0 auto;
    }
</style>