{% assign count = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'links' %}
    {% assign count = count | plus: 1 %}
  {% endif %}
{% endfor %}
<footer class="footer">
  <div class="footer__container {% if count <= 1 %}footer__container--vertical{% endif %}">
    {% for block in section.blocks %}
      <div class="footer__item {% if block.type == 'links' %}footer__item-linklist{% endif %}">
        {% case block.type %}
          {% when 'logo' %}
          <div class="footer__logo">
            {% if block.settings.logo %}
              <img src="{{ block.settings.logo | img_url: '200x' }}" class="footer__logo-image" />
            {% else %}
              {% if block.settings.logo_text != blank %}
                <h2 class="footer__logo-heading">{{ block.settings.logo_text }}
                </h2>
              {% endif %}
            {% endif %}

            {% if block.settings.show_social_icons %}
              <ul class="footer__social">
                {%- if settings.social_twitter_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_twitter_link }}" class="footer__social-link">
                      {%- render 'icon-twitter' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_facebook_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_facebook_link }}" class="footer__social-link">
                      {%- render 'icon-facebook' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_pinterest_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_pinterest_link }}" class="footer__social-link">
                      {%- render 'icon-pinterest' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_instagram_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_instagram_link }}" class="footer__social-link">
                      {%- render 'icon-instagram' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tiktok_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_tiktok_link }}" class="footer__social-link">
                      {%- render 'icon-tiktok' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_tumblr_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_tumblr_link }}" class="footer__social-link">
                      {%- render 'icon-tumblr' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_snapchat_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_snapchat_link }}" class="footer__social-link">
                      {%- render 'icon-snapchat' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_youtube_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_youtube_link }}" class="footer__social-link">
                      {%- render 'icon-youtube' -%}
                    </a>
                  </li>
                {%- endif -%}
                {%- if settings.social_vimeo_link != blank -%}
                  <li class="footer__social-item">
                    <a href="{{ settings.social_vimeo_link }}" class="footer__social-link">
                      {%- render 'icon-vimeo' -%}
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            {% endif %}

          </div>
          {% when 'links' %}
          {% assign menu = linklists[block.settings.menu] %}
          <p class="footer__list-title footer__title mb--25">{{ menu.title }}
          </p>
          <ul class="footer__list">
            {% for link in menu.links %}
              <li class="footer__list-li mb--10">
                <a href="{{ link.url }}" class="footer__list-link">{{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
          {% when 'newsletter' %}
          <p class="footer__newsletter-title footer__title mb--25">{% render 'icon-mail' %}
            {{ block.settings.title }}
          </p>
          <div class="footer__newsletter">
            {%- form 'customer', class: 'footer__newsletter-form' -%}
              <input
                type="hidden"
                name="contact[tags]"
                value="newsletter">
              <div class="footer__newsletter-field">
                <input
                  type="email"
                  name="contact[email]"
                  class="footer__field-input"
                  value="{{ form.email }}"
                  placeholder="Enter Email"
                  required>
                <button type="submit" class="btn btn--primary footer__newsletter-submit">Sign Up</button>
              </div>
              {%- if form.errors -%}
                Something went wrong!
              {%- endif -%}
              {%- if form.posted_successfully? -%}
                Successfully Submitted!
              {%- endif -%}
            {%- endform -%}
          </div>
          {% when 'richtext' %}
          <p class="footer__richtext-title footer__title">{{ block.settings.title }}
          </p>
          <div class="footer__richtext">
            {{ block.settings.richtext }}
          </div>
        {% endcase %}
      </div>
    {% endfor %}
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [],
    "blocks": [
      {
        "type": "logo",
        "name": "Logo",
        "settings": [
          {
            "type": "text",
            "id": "logo_text",
            "label": "Logo Text",
            "default": "Logo"
          }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
          }, {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show Social Icons"
          }
        ]
      }, {
        "type": "links",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Select Menu"
          }
        ]
      }, {
        "type": "newsletter",
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Newsletter Title",
            "default": "Be the first to know about our biggest and best sales."
          }
        ]
      }, {
        "type": "richtext",
        "name": "Richtext",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Richtext Title",
            "default": "Richtext"
          }, {
            "type": "richtext",
            "id": "richtext",
            "label": "Richtext",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus metus pharetra nulla placerat euismod. Vivamus rhoncus at nisl euismod iaculis.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}