<style>
  {%- if section.settings.sticky -%}
    .header--sticky {
      position: sticky;
      top: 0;
      z-index: 3;
    }
  {%- endif -%}
</style>
{% if section.settings.logo_position == 'header__logo--left' or section.settings.logo_position == 'header__logo--center' %}
  <script src="{{ 'header-wrap.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% assign menu = linklists[section.settings.menu].links %}
{% capture 'header__menu' %}
  <nav class="header__menu">
    <ul class="header__menu-ul">
      {% for link in menu %}
        {% assign has_collection = false %}
        {% for child_link in link.links %}
          {% if child_link.type == 'collection_link' %}
            {% assign has_collection = true %}
          {% endif %}
        {% endfor %}
        <li class="header__menu-li {% if link.levels > 1 or link.levels == 1 and has_collection %}header__dropdown--has-mega-menu{% endif %}">
          <a href="{{ link.url }}" class="header__menu-a">{{ link.title }}
            {% if link.links != blank %}
              {% render 'icon-caret' %}
            {% endif %}
          </a>
          {% if link.links != blank %}
            {% if link.levels > 1 and has_collection == true or link.levels > 1 and has_collection == false %}
              <ul class="header__dropdown--mega-menu">
                {% for child_link in link.links %}
                  <ul class="header__dropdown--mega-menu-ul">
                    <li class="header__dropdown--mega-menu-li-heading">
                      <a href="{{ child_link.url }}" class="header__dropdown--mega-menu-a-heading">{{ child_link.title }}
                      </a>
                    </li>
                    {% for grandchild_link in child_link.links %}
                      <li class="header__dropdown--mega-menu-li">
                        <a href="{{ grandchild_link.url }}" class="header__dropdown--mega-menu-a">{{ grandchild_link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endfor %}
              </ul>
            {% elsif link.levels == 1 %}
              {% if has_collection %}
                <ul class="header__dropdown--mega-menu">
                  <ul class="header__dropdown--mega-menu-ul">
                    {% for child_link in link.links %}
                      <li class="header__dropdown--mega-menu-li">
                        <a
                          href="{{ child_link.url }}"
                          class="header__dropdown--mega-menu-a {% if child_link.type == 'collection_link' %}header__dropdown--mega-menu--hover{% endif %}"
                          {% if child_link.type == 'collection_link' %}data-title="{{ child_link.title | downcase | strip }}"{% endif %}>{{ child_link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <ul class="header__dropdown--mega-menu-coll-ul">
                    {% for child_link in link.links %}
                      {% if child_link.type == 'collection_link' %}
                        <li class="header__dropdown--mega-menu-coll-li" data-title="{{ child_link.title | downcase | strip }}">
                          <ul class="header__dropdown--mega-menu-coll-product-ul">
                            {% for product in child_link.object.products limit: 4 %}
                              <li class="header__dropdown--mega-menu-coll-product-li">
                                <a href="{{ product.url }}" class="header__dropdown--mega-menu-coll-product-a">
                                  <img src="{{ product | img_url: '300x' }}" class="header__dropdown--mega-menu-coll-product-img" />
                                  <span class="header__dropdown--mega-menu-coll-product-span">{{ product.title }}
                                  </span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </ul>
              {% else %}
                <ul class="header__dropdown-menu">
                  {% for child_link in link.links %}
                    <li class="header__dropdown-menu-li ">
                      <a href="{{ child_link.url }}" class="header__dropdown-menu-a">{{ child_link.title }}
                        {% if child_link.links != blank %}
                          {% render 'icon-caret' %}
                        {% endif %}
                      </a>
                      {% if child_link.links != blank %}
                        <ul class="header__dropdown-menu {{ child_link.levels }}">
                          {% for grandchild_link in child_link.links %}
                            <li class="header__dropdown-menu-li">
                              <a href="{{ grandchild_link.url }}" class="header__dropdown-menu-a">{{ grandchild_link.title }}
                              </a>
                            </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endcapture %}
{% capture 'header__logo' %}
  <h3 class="header__logo">
    {{ shop.name }}
  </h3>
{% endcapture %}
{% capture 'header__icons' %}
  <div class="header__icons">
    <span class="header__icon header__icons--search">
      {%- render 'icon-search' -%}
    </span>
    {%- if shop.customer_accounts_enabled -%}
      <span class="header__icon header__icons--account">
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
          {% render 'icon-account' %}
        </a>
      </span>
    {%- endif -%}
    <span class="header__icon header__icons--cart">
      {% render 'icon-cart' %}
    </span>
  </div>
{% endcapture %}
{% capture 'header__mobile' %}
  <div class="header__mobile-wrapper">
    <span class="header__mobile--icon">
      {%- render 'icon-hamburger' -%}
    </span>
  </div>
{% endcapture %}
<header class="header {{ section.settings.logo_position }}">
  {{ header__mobile }}
  {% if section.settings.logo_position == 'header__logo--left' %}
    {{ header__logo }}
    {{ header__menu }}
    {{ header__icons }}
  {% elsif section.settings.logo_position == 'header__logo--center' %}
    {{ header__menu }}
    {{ header__logo }}
    {{ header__icons }}
  {% elsif section.settings.logo_position == 'header__logo--topLeft' or section.settings.logo_position == 'header__logo--topCenter' %}
    {{ header__logo }}
    {{ header__icons }}
    {{ header__menu }}
  {% endif %}
</header>

{%- render 'header-mobile', menu: menu -%}
{%- render 'cart-drawer' -%}
{%- render 'search-drawer' -%}

<div class="popup__overlay"></div>
{% schema %}
  {
    "name": "Header",
    "class": "section--header header--sticky",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Select Menu"
      }, {
        "type": "select",
        "id": "logo_position",
        "label": "Logo Position",
        "options": [
          {
            "value": "header__logo--left",
            "label": "Left"
          }, {
            "value": "header__logo--center",
            "label": "Center"
          }, {
            "value": "header__logo--topLeft",
            "label": "Top Left"
          }, {
            "value": "header__logo--topCenter",
            "label": "Top Center"
          }
        ],
        "default": "header__logo--left"
      }, {
        "type": "checkbox",
        "id": "sticky",
        "label": "Make header sticky"
      }
    ]
  }
{% endschema %}