<div class="account-form">
  <div class="account-form__wrapper">
    {%- form 'contact', class: 'account-form__form' -%}
      {%- if form.posted_successfully? -%}
        <div class="account-form__validation">
          <p class="account-form--success">{% render 'icon-success' %} Thanks for contacting us. We'll get back to you as soon as possible.</p>
        </div>
      {%- elsif form.errors -%}
        <div class="account-form__validation">
          <p class="account-form--error">{% render 'icon-error' %} Please adjust the following:</p>
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
      <div class="field">
        <div class="field--flex">
          <div class="field__group field_group--half">
            <label for="contact-name" class="field__label">Name</label>
            <input
              id="contact-name"
              type="text"
              name="contact[name]"
              value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
              class="field__input"
              required />
          </div>
          <div class="field__group field_group--half">
            <label for="contact-email" class="field__label">Email</label>
            <input
              id="contact-email"
              type="email"
              name="contact[email]"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              class="field__input {% if form.errors contains 'email' %}field__input--error{% endif %}"
              required />
          </div>
        </div>
        <div class="field__group">
          <label for="contact-phone" class="field__label">Phone number</label>
          <input
            id="contact-phone"
            type="tel"
            name="contact[phone]"
            value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
            pattern="[0-9\-]*"
            class="field__input"
            required />
        </div>
        <div class="field__group">
          <label for="contact-comment" class="field__label">Comment</label>
          <textarea
            id="contact-comment"
            name="contact[body]"
            id=""
            cols="30"
            rows="5"
            class="field__input field__input--area"
            required>{{- form.body -}}</textarea>
        </div>
        <div class="field__group">
          <button type="submit" class="btn btn--primary btn--block">Submit</button>
        </div>
      </div>
    {%- endform -%}
  </div>
</div>

<style>
  .main-page {
    padding: 50px 40px 0;
  }
  .main-page__wrapper {
    padding: 0 10px;
    max-width: 600px;
    margin: 0 auto;
  }
  .account-form {
    padding-top: 0;
  }
  @media screen and (max-width: 480px) {
    .field_group--half {
      width: 100%;
    }
  }
</style>