<div class="password" {%- if section.settings.background_image -%}style="background-image: url({{- section.settings.background_image | img_url: '1500x' -}})"{%- endif -%}>
  <div class="password__wrapper">
    <header class="password__header">
      <a href="{{ routes.root_url }}" class="password__logoLink">
        {%- if section.settings.logo != blank -%}
          {{- section.settings.logo | image_url: width: '300' | img_tag: class: 'password__logoImage' -}}
        {%- else -%}
          <span class="password__logoTitle">{{- shop.name -}}</span>
        {%- endif -% %}
      </a>
      <span class="password--button">{% render 'icon-padlock' %} Enter Password</span>
    </header>

    {%- if section.settings.show_newsletter_signup -%}
      {%- form 'customer', class: 'password__newsletterForm account-form__form' -%}
        <div class="password__newsletterInner">
          <h2 class="password__newsletterHeading heading--underline">Opening soon</h2>
          {%- if form.posted_successfully? -%}
            <div class="account-form__validation">
              <p class="account-form--success">{% render 'icon-success' %} Thanks for contacting us. We'll get back to you as soon as possible.</p>
            </div>
          {%- else -%}
            <div class="field">
              <div class="field__group">
                <input
                  type="hidden"
                  name="contact[tags]"
                  value="prospect, password page" />
                <input
                  type="email"
                  class="field__input"
                  name="contact[email]"
                  placeholder="Your email address"
                  aria-label="{{ 'general.password.newsletter_input' | t }}" />
              </div>
              <div class="field__group margin--none">
                <button type="submit" class="btn btn--primary btn--block">Notify me</button>
              </div>
            </div>
          {%- endif -%}
        </div>
      {%- endform -%}
    {%- endif -%}

    <div class="password__footer">
      <p>This store will be powerd by shopify</p>
      <p>Are you the store owner?
        <a href="{{- shop.secure_url -}}/admin">Login here</a>
      </p>
    </div>

  </div>
</div>

<div class="password__form">
  <span class="password__form--close">{% render 'icon-close' %}</span>
  <div class="account-form__wrapper">
    <p class="account-form__subtitle text--center">Enter store using password:</p>
    {%- form 'storefront_password', class: 'account-form__form' -%}
      <div class="field">
        <div class="field__group">
          <label for="store-password" class="field__label">Password</label>
          <input
            id="store-password"
            type="password"
            name="password"
            value=""
            class="field__input {% if form.errors %}field__input--error{% endif %}"
            required />
        </div>
        {%- if form.errors -%}
          <div class="account-form__validation">
            <p class="account-form--error">{% render 'icon-error' %} Password incorrect, please try again.</p>
          </div>
        {%- endif -%}
        <div class="field__group margin--none">
          <button
            type="submit"
            name="commit"
            class="btn btn--primary btn--block">Submit</button>
        </div>
      </div>
    {%- endform -%}
  </div>
</div>


<style>
  .password__newsletterInner {
    background-color: white;
    padding: 50px 40px;
  }
  .password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .password__wrapper {
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
  .password__header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    position: relative;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: {{ section.settings.password_header_text_color }}
  }
  .password__logoLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
  }
  .password__logoImage {
    max-width: 100%;
    height: auto;
  }
  .password__logoTitle {
    font-size: 22px;
    font-weight: 600;
  }
  .password--button {
    cursor: pointer;
  }
  .password--button svg {
    vertical-align: sub;
    margin-right: 5px;
  }
  .password__form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: none;
  }
  .password__form--close {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
  }
  .account-form__wrapper {
    width: 100%;
  }
  .password__newsletterForm {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .password__newsletterHeading {
    padding: 0 10px;
    text-align: center;
  }
  .password__footer {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    color: {{ section.settings.password_footer_text_color }}
  }
  .password__footer p {
    margin: 0;
  }
  @media screen and (max-width: 767px) {
    .password__logoLink {
      position: static;
      transform: none;
      margin-bottom: 10px;
    }
    .password__header {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .password__newsletterInner {
      padding: 30px 20px;
    }
    .password__footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .password__footer p:first-child {
      margin-bottom: 10px;
    }
  }
</style>

<script>
  let password_button = document.querySelector(".password--button");
  let password_close = document.querySelector(".password__form--close");
  let password_form = document.querySelector(".password__form");
  password_button.addEventListener("click", e => {
    password_form.style.display = "flex";
  });
  password_close.addEventListener("click", e => {
    password_form.style.display = "none";
  });
</script>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter_signup",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "color",
        "id": "password_header_text_color",
        "label": "Password header text color",
        "default": "#000000"
      }, {
        "type": "color",
        "id": "password_footer_text_color",
        "label": "Password footer text color",
        "default": "#000000"
      }
    ]
  }
{% endschema %}