<div class="password" {%- if section.settings.background_image -%}style="background-image: url({{- section.settings.background_image | img_url: '1500x' -}})"{%- endif -%}>
  <div class="password__wrapper">
    <header class="password__header">
      <a href="{{ routes.root_url }}" class="password__logo">
        {%- if section.settings.logo != blank -%}
          <img src="{{- section.settings.logo | img_url: '300x' -}}" class="password__logo-image" />
        {%- else -%}
          <span class="password__logo-title">{{- shop.name -}}</span>
        {%- endif -% %}
      </a>
      <span class="password__button">Enter Password</span>
    </header>

    {%- if section.settings.show_newsletter_signup -%}
      {%- form 'customer', class: 'password__newsletter-form' -%}
        {%- if section.settings.heading != blank -%}
          <h2 class="password__newsletter-form__heading">{{- section.settings.heading -}}</h2>
        {%- endif -%}
        {%- if form.posted_successfully? -%}
          <p class="password__newsletter-form__success">Success</p>
        {%- else -%}
          <input
            type="hidden"
            name="contact[tags]"
            value="prospect, password page" />
          <div class="password__newsletter-form__group">
            <input
              type="email"
              class="password__newsletter-form__input"
              name="contact[email]"
              placeholder="Your email address"
              aria-label="{{ 'general.password.newsletter_input' | t }}" />
            <button type="submit" class="password__newsletter-form__button">Notify me</button>
          </div>
        {%- endif -%}
      {%- endform -%}
    {%- endif -%}

  </div>
</div>


{%- form 'storefront_password', class: 'password__form' -%}
  <h2 class="password__heading">{{ 'general.password_page.login_form_heading' | t }}</h2>
  <p class="password__subheading">{{ 'general.password_page.login_password_subheading' | t }}</p>
  <div class="password__field">
    <input
      type="password"
      name="password"
      class="password__input {% if form.errors %}password__field--error{%- endif -%}"
      placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
    <button name="commit" class="btn btn--primary password__button">{{ 'general.password_page.login_form_submit' | t }}</button>
    {%- if form.errors -%}
      <div class="password__error">
        <span>{% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}</span>
      </div>
    {%- endif -%}
  </div>
{%- endform -%}

<style>
  .password {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .password__wrapper {
    height: 100%;
  }
  .password__header {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    position: relative;
    flex-wrap: wrap;
  }
  .password__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
  }
  .password__logo-image {
    max-width: 100%;
    height: auto;
  }
  .password__logo-title {
    font-size: 24px;
    font-weight: 600;
  }
  .password__button {}


  .password__newsletter-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border: 1px solid black;
  }
  .password__newsletter-form__heading {
    margin: 0 0 15px;
    text-align: center;
  }
  .password__newsletter-form__success {}
  .password__newsletter-form__group {
    display: flex;
    flex-wrap: wrap;
  }
  .password__newsletter-form__input {
    display: block;
    padding: 10px;
    border: 1px solid;
    width: 250px;
  }
  .password__newsletter-form__button {
    background: black;
    color: white;
    text-transform: uppercase;
  }


  .password__heading {
    width: 100%;
    text-align: center;
    margin: 0 0 15px;
  }
  .password__subheading {
    width: 100%;
    text-align: center;
    margin: 0 0 15px;
  }
  .password__form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    display: none;
  }
  .password__input {
    height: 70px;
    padding: 0 15px;
    outline: none;
    margin-right: 3px;
    min-width: 400px;
    max-width: 100%;
    width: 100%;
  }
  .password__field {
    display: flex;
  }
  @media screen and (max-width: 767px) {
    .password__input {
      height: 50px;
      min-width: 250px;
    }
    .password__button {
      min-width: 100px;
      max-width: 100px;
    }
  }
  @media screen and (max-width: 480px) {
    .password__input {
      height: 50px;
      min-width: 200px;
    }
  }
</style>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "checkbox",
        "id": "show_newsletter_signup",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "Your heading here"
      }, {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading",
        "default": "Your subheading here"
      }


    ]
  }
{% endschema %}